# ----------------------------------------------------------------------
# Provisioning
# ----------------------------------------------------------------------
# Vagrant
.vagrant
Vagrantfile

# ----------------------------------------------------------------------
# Git
# ----------------------------------------------------------------------
.git
.gitignore

# ----------------------------------------------------------------------
# Ansible
# ----------------------------------------------------------------------
ansible.cfg
ansible_hosts
*.retry

# ----------------------------------------------------------------------
# Docker
# ----------------------------------------------------------------------
Dockerfile*
docker-compose*

# ----------------------------------------------------------------------
# Repo
# ----------------------------------------------------------------------
*.pyc
__pycache__
.eggs
.cache
.coverage
*.egg-info
.tox
*.rst
*.db

# ----------------------------------------------------------------------
# Mac
# ----------------------------------------------------------------------
.DS_Store

# ----------------------------------------------------------------------
# Linux
# ----------------------------------------------------------------------
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# ----------------------------------------------------------------------
#  extras
# ----------------------------------------------------------------------
# */
# !glfw-cffi*/
